* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typography */

/* root styles */


:root {
    --teal-blue: #b1d8f2;
    --light-blue: #3da1e6;
    --beige: #FFF5E5;

    --normal-tekst: 14px;
}

.bottom-nav {
    background-color: var(--light-blue);
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 104px;
}

.bottom-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-decoration-line: none;
    font-size: var(--normal-tekst);
}

.bottom-nav a:nth-of-type(2) p {
    margin-top: 15px;
}

.bottom-nav a img {
    width: 30px;
    height: auto;
    margin-bottom: 10px;
}

.event-list {
    display: flex;
    align-items: center;
    background-color:var(--beige);
    padding: 10px;
    border-radius: 10px;
    max-width: 350px;

}

.event-info img {
    width: 30px;
    height: 100%;
}

